.search-container{
  width: 40px;
  height: 40px;
  background: #DFB12D;
  border-radius: 50%;
}
.header-border{
  border-bottom: 1px solid #DFB12D;
}
.about-text{
  color: #DFB12D;
  font-size: 20px;
}
.contact-us-container{
  background: #EDF3F1;
}
.custom-input-wrapper {
  position: relative;
  width: 70%;
}
.button-container{
  width: 70%;
  margin-top: 80px;
}
.custom-input {
  width: 100%;
  padding: 12px 0px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #c7c5c5;
  outline: none;
}
.custom-button{
  width: 100%;
  padding: 12px 0px;
  box-sizing: border-box;
  border: 1px solid #DFB12D;
  outline: none;
  background: #fff;
}
.footer-btn{
  padding: 8px 15px;
  border: 1px solid #DFB12D;
  outline: none;
  background: #fff;
}
.input-icon {
  position: absolute;
  right: 10px;
  bottom: 8px;
}
.copyright-container{
  border-top: 1px solid #c7c5c5;
}
.services-wrapper{
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.up-container{
  width: 50px;
  height: 50px;
  background: #DFB12D;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-border{
    border-bottom: 1px solid #fff;
  }
  .service-text{
    font-size: 8px;
  }
  .services-wrapper{
    flex-wrap: wrap;
  }
}
